<h1>Kundeservice for VY</h1>

  <!--Div som viser spørsmål og svar-->
  <div>
    <div class="col-md-6 col-md-offset" *ngIf="visSpm">
      <div *ngIf="laster">Laster spørsmål...</div>
      <button class="btn btn-primary" (click)="tilSkjema()">Her kan du stille spørsmål</button>

      <div>
        <div *ngFor="let kat of alleKategorier"> <!--Looper gjennom alle kategorier-->
          <h2>{{kat}}</h2>
          <div *ngFor=" let spm of alleSpm "> <!--Looper gjennom alle som og legger riktig spm under riktig kategori-->
            <ng-container *ngIf="spm.kategori == kat">
              <div (click)="hentEtSpm(spm.id)">
                <h5 >{{spm.sporsmal}}</h5>
              </div>
              <div *ngIf="spm.id == etSpm.id">
                <p>{{spm.svar}}</p>
                <button id="tommelOpp" class="btn btn-success" (click)="okTommelOpp(spm.id, spm)">Upvotes {{spm.tommelOpp}}</button>
                <button id="tommelNed" class="btn btn-success" (click)="okTommelNed(spm.id, spm)">DownVotes {{spm.tommelNed}} </button>
              </div>


            </ng-container>
          </div>
          <!--
            <button class="btn btnKategori" (click)="hentSpmTilKategori(kat)">{{kat}}</button>

            <div *ngFor="let spm of spmTilKat">
              <div *ngIf="spm.kategori == kat">
                  <button class="btn btn-success" (click)="hentEtSpm(spm.id)">{{spm.sporsmal}}</button>
                <div *ngIf="spm.id == etSpm.id">
                  <div>{{spm.svar}}</div>
                  <div>
                    <button id="tommelOpp" class="btn btn-success" (click)="okTommelOpp(spm.id, spm)">Upvotes {{spm.tommelOpp}}</button>
                    <button id="tommelNed" class="btn btn-success" (click)="okTommelNed(spm.id, spm)">DownVotes {{spm.tommelNed}} </button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>

  </div> <!--Avslutt div som viser spørsmål og svar-->


  <div class="col-sm-4 col-sm-offset-2" *ngIf="visSkjema">
    <button class="btn-primary btn-primary" (click)="tilSpm()">Oversikt over spørsmål og svar</button>
    <!--Div som inneholder skjema for innsending av spørsmål-->
    <form [formGroup]="skjema" (ngSubmit)="lagreInnSendtSpm()">
      <input class="form-control" formControlName="id" type="hidden" />
      <div class="form-group">
        <label>Navn</label>
        <input class="form-control" formControlName="navn" />
        <p class="alert alert-warning" [hidden]="skjema.controls.navn.valid || (skjema.controls.navn.pristine && !submitted)">
          Vennligst oppgi navn.
        </p>
      </div>
      <div class="form-group">
        <label>Epost</label>
        <input class="form-control" formControlName="epost" />
        <p class="alert alert-warning" [hidden]="skjema.controls.epost.valid || (skjema.controls.epost.pristine && !submitted)">
          Vennligst oppgi din epost
        </p>
      </div>
      <div class="form-group">
        <label>Sporsmal</label>
        <input class="form-control" formControlName="spm" />
        <p class="alert alert-warning" [hidden]="skjema.controls.spm.valid || (skjema.controls.spm.pristine && !submitted)">
          Vennligst fortell oss hva du lurer på.
        </p>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!skjema.valid" class="btn-primary btn-primary">Send inn spørsmålet</button>
      </div>
    </form>
  </div> <!-- Avslutter div som inneholder innsendingsskjema-->

