<div class="navbar navbar-fixed-top">
  <div class="navbar-header pull-left">
    <a href="#">
      <img src="/assets/vylogo.png" alt="vylogo">
    </a>
    <button type="button" class="btn btn-default navbar-btn" id="navItem" (click)="tilSpm()">Ofte stilte spørsmål</button>
    <button type="button" class="btn btn-default navbar-btn" id="navItem" (click)="tilSkjema()">Send oss ditt spørsmål</button>
  </div>
</div>

<!--Div som viser spørsmål og svar-->
<div class="col-md-9 col-md-offset" *ngIf="visSpm">
  <div *ngIf="laster">Laster spørsmål...</div>
  <h1>Spørsmål og svar</h1>

  <div class="container">
    <div *ngFor="let kat of alleKategorier">
      <h2>{{kat}}</h2>
      <div class="spmContainer">
        <div *ngFor="let spm of alleSpm">
          <ng-container *ngIf="spm.kategori == kat">
            <div class="spm2Container">
              <div (click)="hentEtSpm2(spm.id)">
                <div id="spmdiv">
                    {{spm.sporsmal}}
                  <div *ngIf="state[spm.id]">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </div>
                  <div *ngIf="!state[spm.id]">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="state[spm.id]">
                  <p>{{spm.svar}}</p>
                  <button id="tommelOpp" class="btn tommel btnbtn" (click)="okTommelOpp(spm.id, spm)">
                    <span class="glyphicon  glyphicon-thumbs-up"></span> {{spm.tommelOpp}}
                  </button>
                  <button id="tommelNed" class="btn tommel btnbtn" (click)="okTommelNed(spm.id, spm)">
                    <span class="glyphicon glyphicon-thumbs-down"></span> {{spm.tommelNed}}
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>  <!--Avslutt div som viser spørsmål og svar-->


<div *ngIf="visSkjema">
  <h1>Hva kan vi hjelpe deg med? </h1>
  <div class="col-sm-6 col-sm-offset-4">
    <form class="skjema" [formGroup]="skjema" (ngSubmit)="lagreInnSendtSpm()">
      <input class="form-control" formControlName="id" type="hidden" />
      <div class="form-group">
        <label>Navn</label>
        <input class="form-control" formControlName="navn" placeholder="Navn" />
        <p class="alert alert-warning" [hidden]="skjema.controls.navn.valid || (skjema.controls.navn.pristine && !submitted)">
          Vennligst oppgi navn.
        </p>
      </div>
      <div class="form-group">
        <label>Epost</label>
        <input class="form-control" formControlName="epost" placeholder="Epost" />
        <p class="alert alert-warning" [hidden]="skjema.controls.epost.valid || (skjema.controls.epost.pristine && !submitted)">
          Vennligst oppgi din epost
        </p>
      </div>
      <div class="form-group">
        <label>Spørsmål</label>
        <textarea class="form-control" formControlName="spm" rows="4" placeholder="Skriv inn ditt spørsmål her..."></textarea>
        <p class="alert alert-warning" [hidden]="skjema.controls.spm.valid || (skjema.controls.spm.pristine && !submitted)">
          Vennligst fortell oss hva du lurer på.
        </p>
      </div>
      <div class="form-group">
        <button class="btn btnbtn" id="btnSubmit" type="submit" (click)="settBekreftelse()" [disabled]="!skjema.valid">Send inn spørsmålet</button>
      </div>
    </form>
    <div *ngIf="bekreftelse">
      Takk for din henvendelse! Vi vil komme tilbake til deg så snart vi kan.
    </div>
  </div>
</div>
