/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body{
  margin-left:45px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 15px;
  font-family: Roboto, sans-serif;
}

img{
  width: 25%;
}

.navbar {
  padding-bottom: 40px;
  border-bottom: 1px;
  border-bottom-color: black;
}

#navItem {
  font-size: 20px;
}

#navItem:hover {
  background-color: rgba(2, 150, 120, 0.37);
}

code {
  color: #e01a76;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 15px;
}
/*Overskrift for kategorier*/
h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 40px;
  padding-left: 20px;
}

/*Overskrift for spørsmålene*/
h3 {
  font-weight: 600; 
  padding-top: 10px;
  font-size: 20px;
}

.skjema {
  padding-left: 20px;
}

.form-control {
  font-size: 15px;
}

label {
  font-size: 20px;
}

.alert {
  font-size: 15px;
}

p {
  font-size: 20px;
}

.spmContainer {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: black;
  border-top-color: black;
}

.spm2Container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: black;
  border-top-color: black;
}

#spmOverskrift {
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#spmSvar {
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.glyphicon {
  font-size: 20px;
}

.glyphicon-chevron-down{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;

}

.glyphicon-chevron-up {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

/*Tallstørrelse i vote-knappene*/
.tommel{
  font-size: 15px;
}

/*Raden med tommelknapper*/
.tomler {
  padding-bottom: 20px;
  margin-left: 20px;

}
.span {
  font-family: Roboto, sans-serif;
}

#forbedre{
  font-size: 15px;
  padding-left: 20px;
}

.btnbtn {
  background-color: #029678;
  color: #ffffff;
}

.btnbtn:hover {
  background-color: #024b3c;
  color: #ffffff;
}

#btnSubmit {
  font-size: 20px;
}

