/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 15px;
  font-family: Roboto, sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

/*Overskrift for kategorier*/
h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 40px;
  padding-left: 20px;
}

/*Overskrift for spørsmålene*/
h3 {
  font-weight: 600; 
  padding-top: 10px;

  font-size: 20px;
}

p {
  font-size: 20px;
}

.spmContainer {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: black;
  border-top-color: black;
}
.spm2Container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: black;
  border-top-color: black;
  padding-left: 20px;
  padding-bottom: 10px;
}

.btnbtn{
  background-color: #029678;
  color: #ffffff;
}

.btnbtn:hover {
  background-color: #024b3c;
  color: #ffffff;
}
