/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */


body{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Helvetica, sans-serif;
}


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.spmContainer {
  border-top: 1px solid;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btnKategori{
  background-color: #029678;
  color: #ffffff;
}

  .btnKategori:hover {
    background-color: #024b3c;
    color: #ffffff;
  }
